<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Vivum!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="app-header">
        <h1>
          <%= link "Vivum", to: page_path(@conn, :index), class: "app-header__title" %>
        </h1>
      </header>

      <nav>
        <ul class="nav justify-content-end">
          <%= if @current_user do %>
            <li class="nav-item">
              <span class="nav-link">
                Welcome <%= @current_user.username %>!
              </span>
            </li>
            <li class="nav-item">
              <%= link "My Plants", to: plant_path(@conn, :index), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link "Sign Out", to: session_path(@conn, :new), method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link "Sign Up", to: user_path(@conn, :new), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link "Sign In", to: session_path(@conn, :new), class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </nav>

      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <%= render @view_module, @view_template, assigns %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
