<h2>Search Plants</h2>

<%= form_for @conn, search_path(@conn, :show), [method: :get, as: :search], fn f -> %>
  <div class="form-group">
    <%= text_input f, :query, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>
