<h2>Edit Plant</h2>

<%= form_for @changeset, plant_path(@conn, :update, @plant), fn f -> %>
  <div>
    Name<br />
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
  </div>
  <div>
    Description<br />
    <%= textarea f, :description %>
    <%= error_tag f, :description %>
  </div>

  <div>
    <%= submit "Update" %>
  </div>
<% end %>

<div>
  <%= link "Cancel", to: plant_path(@conn, :show, @plant) %>
</div>
