<h2>New Plant</h2>

<%= form_for @changeset, plant_path(@conn, :create), fn f -> %>
  <div>
    Name<br />
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
  </div>
  <div>
    Description<br />
    <%= textarea f, :description %>
    <%= error_tag f, :description %>
  </div>

  <div>
    <%= submit "Create" %>
  </div>
<% end %>
