<h2>
  <%= @plant.name %>
</h2>

<p>
  <%= @plant.description %>
</p>

<ul>
  <li><%= link "Edit", to: plant_path(@conn, :edit, @plant) %></li>
  <li><%= link "Delete", to: plant_path(@conn, :delete, @plant), method: :delete %></li>
</ul>

<div>
  <%= link "< Back", to: plant_path(@conn, :index) %>
</div>
