<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link "Edit", to: plant_path(@conn, :edit, @plant), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link "Delete", to: plant_path(@conn, :delete, @plant), method: :delete, class: "nav-link" %>
  </li>
</ul>

<h2>
  <%= @plant.name %>
</h2>

<%= if @plant.photo do %>
  <div>
    <%= img_tag Vivum.PlantPhoto.url({@plant.photo, @plant}, :normal) %>
  </div>
<% end %>

<p>
  <%= @plant.description %>
</p>
